.nav-menu {
  background-color: #BF0A30; /* Christmas Red */
  border: 2px solid #006B3C; /* Christmas Green */
  padding: 10px;
  list-style: none;
  display: flex; 
  justify-content: space-around;
}

.nav-menu il a {
  color: #FFFFFF; 
  text-decoration: none;
  font-family: 'Mountains of Christmas', cursive; 
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-menu il a:hover,
.nav-menu il a.active {
  color: #FFD700; 
  text-shadow: 0 0 5px #FFD700; 
}

.hero { 
  position: relative;
  background-image: url('../images/hero.jpg');
  min-height: 800px;

}


 




